.divLogin {
    width: 400px;
    height: 450px;
    padding: 34px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    overflow-x: hidden;
    margin-top: 60px;
  }
  .loggedout_body {
      position: absolute;
      min-height: 100%;
      margin: 0;
      padding: 0;
      height: -webkit-fill-available;
      height: -moz-available;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      background: linear-gradient(to bottom,#323232 0,#3f3f3f 40%,#1c1c1c 150%),linear-gradient(to top,rgba(255,255,255,.4) 0,rgba(0,0,0,.25) 200%);
      background-blend-mode: multiply;
  }
  .divIcon {
    width:  14%;
    height: 40px;
    border: 1px solid #d9d9d9;
    margin-bottom: 25px;
  }
  .icon1 {
    margin-left: auto;
    margin-right: auto;
  }