/* You can add global styles to this file, and also import other style files */
.ant-table-thead > tr > th {
  position: relative;
  padding: 10px 4.8px;
}
<<<<<<< HEAD
html,
body {
  font-family: Poppins, Prompt;
}
.align-items-center {
  align-items: center !important;
}
=======
html , body {
    font-family: Poppins,Prompt !important;
  }
>>>>>>> 7eb386888b5473a4362020268178a6763ceaa0e9
