<div nz-row>
  <div nz-col nzSpan="5">
    <h3>Order</h3>
  </div>
  <div nz-col nzSpan="9">
    <nz-range-picker>
      <span>
        <input
          readonly=""
          class="ant-calendar-range-picker-input ng-star-inserted"
          placeholder="Start date"
        />
        <span> ~ </span>
      </span>
      <input
        readonly=""
        class="ant-calendar-range-picker-input ng-star-inserted"
        placeholder="End date"
      />
      <i
        nz-icon=""
        theme="fill"
        type="close-circle"
        class="ant-calendar-picker-clear ng-star-inserted"
      ></i>
    </nz-range-picker>
  </div>
  <div nz-col nzSpan="10">
    <div nz-row>
      <div nz-col nzSpan="8">
        <button nz-button nz-dropdown [nzDropdownMenu]="menu">
          <i nz-icon nzType="printer" nzTheme="outline"></i>
          Hover me
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>พิมพ์ใบจัดส่งซ้ำ</li>
            <li nz-menu-item>พิมพ์ใบสั่งซื้อ</li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div nz-col nzSpan="8">
        <button nz-button>จัดการหลายออเดอร์</button>
      </div>
      <div nz-col nzSpan="8">
        <button nz-button>สร้างออเดอร์</button>
      </div>
    </div>
  </div>
</div>
<nz-tabset>
  <nz-tab nzTitle="Tab 1">
    <div class="filter">
      <div nz-row>
        <div nz-col nzSpan="3">
          <span>Filter</span>
        </div>
        <div nz-col nzSpan="4">
          <nz-select ngModel="ทุกสถานะ">
            <nz-option nzValue="ทุกสถานะ" nzLabel="ทุกสถานะ"></nz-option>
            <nz-option nzValue="ยกเลิก" nzLabel="ยกเลิก"></nz-option>
            <nz-option nzValue="รอชำระเงิน" nzLabel="รอชำระเงิน"></nz-option
            ><nz-option nzValue="ได้รับเงิน" nzLabel="ได้รับเงิน"></nz-option
            ><nz-option
              nzValue="จัดเตรียมสินค้า"
              nzLabel="จัดเตรียมสินค้า"
            ></nz-option
            ><nz-option nzValue="จัดส่ง" nzLabel="จัดส่ง"></nz-option
            ><nz-option nzValue="เสร็จสิ้น" nzLabel="เสร็จสิ้น"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="4">
          <nz-select ngModel="ทุกช่องการขาย">
            <nz-option
              nzValue="ทุกช่องการขาย"
              nzLabel="ทุกช่องการขาย"
            ></nz-option>
            <nz-option nzValue="Facebook" nzLabel="Facebook"></nz-option>
            <nz-option nzValue="Line@" nzLabel="Line@"></nz-option
            ><nz-option nzValue="Line" nzLabel="LIne"></nz-option
            ><nz-option nzValue="Instagram" nzLabel="Instagram"></nz-option
            ><nz-option nzValue="Twiiter" nzLabel="Twiiter"></nz-option
            ><nz-option nzValue="Wechat" nzLabel="Wechat"></nz-option>
            <nz-option nzValue="Website" nzLabel="Website"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="4">
          <nz-select ngModel="ทุกการชำระเงิน">
            <nz-option
              nzValue="ทุกการชำระเงิน"
              nzLabel="ทุกการชำระเงิน"
            ></nz-option>
            <nz-option nzValue="ชำระเงินสด" nzLabel="ชำระเงินสด"></nz-option>
            <nz-option
              nzValue="โอนผ่านธนาคาร"
              nzLabel="โอนผ่านธนาคาร"
            ></nz-option
            ><nz-option nzValue="Credit Card" nzLabel="Credit Card"></nz-option
            ><nz-option nzValue="QR Code" nzLabel="QR Code"></nz-option
            ><nz-option
              nzValue="เก็บเงินปลายทาง"
              nzLabel="เก็บเงินปลายทาง"
            ></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="4">
          <nz-select ngModel="Create By">
            <nz-option nzValue="Create By" nzLabel="Create By"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="4">
          <button nz-button>EXPORT</button>
        </div>
      </div>
    </div>
    <nz-table>
      <thead>
        <tr>
          <!-- Link ----------------------------------------------------------------->
          <th>
            <div>Link</div>
          </th>
          <!-- Chanel ----------------------------------------------------------------->
          <th style="text-align: center; min-width: 90px">
            <div>
              Channel
              <i
                nz-icon
                nzType="info-circle"
                nzTheme="outline"
                nz-popover
                [nzPopoverContent]="contentTemplate"
                nzPopoverTrigger="click"
              ></i>
            </div>
            <ng-template #contentTemplate>
              <div>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/ch-website.png"
                  />Website
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/ch-app.png"
                  />Application
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/ch-facebook.png"
                  />Facebook
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/ch-instagram.png"
                  />Instagram
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/ch-ket-market.png"
                  />Ket-market
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/ch-line.png"
                  />Line
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/ch-lineat.png"
                  />Line@
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/ch-salepage.png"
                  />Sale Page
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/ch-shopee.png"
                  />Shopee
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/ch-twitter.png"
                  />Twiiter
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/ch-wechat.png"
                  />Wechat
                </p>
              </div>
            </ng-template>
          </th>
          <!-- Order no. ----------------------------------------------------------------->
          <th>
            <div>
              <input
                nz-input
                nzSize="small"
                placeholder="Order no."
                style="max-width: 120px"
                [(ngModel)]="model_search.ordercode"
              />
            </div>
            <!-- Status ----------------------------------------------------------------->
          </th>
          <th>Status <i nz-icon nzType="info-circle" nzTheme="outline"></i></th>
          <!-- ชื่อ/อีเมล ------------------------------------------------------------------->
          <th>
            <input
              nz-input
              placeholder="ชื่อ หรืออีเมล"
              nzSize="default"
              nzSize="small"
            />
          </th>
          <!-- ยอดชำระ -------------------------------------------------------------------->
          <th>
            <input
              nz-input
              placeholder="ยอดชำระ"
              style="max-width: 100px"
              nzSize="small"
            />
          </th>
          <!-- pay ------------------------------------------------------------------------>
          <th>
            Pay
            <i
              nz-icon
              nzType="info-circle"
              nzTheme="outline"
              nz-popover
              nzPopoverPlacement="left"
              [nzPopoverContent]="contentTemplatePay"
              nzPopoverTrigger="click"
            ></i>
            <ng-template #contentTemplatePay>
              <div>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/payment-cash.png"
                  />
                  ชำระเงินสด
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/payment-transfer.png"
                  />โอนเงินผ่านธนาคาร
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/payment-credit.png"
                  />Credit card
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/payment-qrcode.png"
                  />QR Code
                </p>
                <p>
                  <img
                    class="logoChannel2"
                    src="../../../../assets/payment-cod.png"
                  />เก็บเงินปลายทาง
                </p>
              </div>
            </ng-template>
          </th>
          <!-- Tracking code -------------------------------------------------------------->
          <th>
            <input nz-input placeholder="Tracking Code" nzSize="small" />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of listorder">
          <td>
            <i
              nz-icon
              nzType="link"
              nzTheme="outline"
              nzTooltipTitle="คัดลอกลิงค์สำหรับลูกค้า"
              nzTooltipPlacement="right"
              nz-button
              nz-tooltip
            ></i>
          </td>
          <td style="text-align: center">
            <div *ngIf="obj.channel == 'facebook'">
              <img
                class="logoChannel"
                src="../../../../assets/ch-facebook.png"
              />
            </div>
            <div *ngIf="obj.channel == 'website'">
              <img
                class="logoChannel"
                src="../../../../assets/ch-website.png"
              />
            </div>
            <div *ngIf="obj.channel == 'line'">
              <img class="logoChannel" src="../../../../assets/ch-line.png" />
            </div>
            <!-- <div *ngIf="obj.channel == 'facebook'">
              <img
                class="logoChannel"
                src="../../../../assets/ch-facebook.png"
              />
            </div> -->
          </td>
          <td>
            <nz-tag [nzColor]="'red'">{{ obj.ordercode }}</nz-tag>
            <p>
              {{ obj.order_date }}
            </p>
          </td>
          <td>
            <p>ทำไม่เป็น</p>
          </td>
          <td>
            <div>
              <p>{{ obj.name }}</p>
              <p>{{ obj.username }}</p>
            </div>
          </td>
          <td>
            <div *ngIf="obj.paymenttype.status == '0'">
              <nz-tag nzColor="default">
                <i nz-icon nzType="clock-circle"></i>
                <span>{{ obj.totals | currency: "" }}</span>
              </nz-tag>
            </div>
            <div *ngIf="obj.paymenttype.status == '1'">
              <nz-tag nzColor="success">
                <span>{{ obj.totals | currency: "" }}</span>
              </nz-tag>
            </div>
            <p></p>
          </td>
          <td>
            <div *ngIf="obj.paymenttype.id == '4'">
              <img
                class="logoChannel"
                src="../../../../assets/payment-cod.png"
              />
            </div>
            <div *ngIf="obj.paymenttype.id == '2'">
              <img
                class="logoChannel"
                src="../../../../assets/payment-transfer.png"
              />
            </div>
          </td>
          <td>
            <div>
              <div nz-row>
                <div nz-col nzSpan="12" *ngIf="obj?.delivery?.logo">
                  <!-- เช็คว่ามี logo ไหม ถ้าไม่เช็คจะ error เพราะหาข้อมูลมาแสดงไม่ได้-->
                  <img
                    class="logoDelivery"
                    src="https://uat.ketshoptest.com/{{ obj.delivery.logo }}"
                  />
                  <div nz-col nzSpan="12" *ngIf="obj?.delivery?.type">
                    <span>{{ obj.delivery.type }}</span>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-pagination
      [nzPageIndex]="1"
      [nzTotal]="count"
      (nzPageIndexChange)="click($event)"
    ></nz-pagination>
  </nz-tab>
  <nz-tab nzTitle="Tab 2"> Content of Tab Pane 2 </nz-tab>
  <nz-tab nzTitle="Tab 3"> Content of Tab Pane 3 </nz-tab>
</nz-tabset>
